:root {
  --popup-anim-t: 300ms;
  --popup-text: inherit;
  --popup-bg: #fff;
  --popup-shadow: #0003;
  --tooltip-text: inherit;
  --tooltip-bg: #fff;
  --tooltip-shadow: #0003;

  [wupdark] {
    --popup-text: #d8d8d8;
    --popup-bg: #2b3645;
    --popup-shadow: #0006;
    --tooltip-text: #d8d8d8;
    --tooltip-bg: #104652;
    --tooltip-shadow: #0006;
  }
}

// `:host-arrow` is replaced with `wup-popup-arrow`; via variable since stylelint fails to parse it
$arrow: ":host-arrow";

:host,
#{$arrow} {
  --popup-anim: var(--popup-anim-t) cubic-bezier(0, 0, 0.2, 1) 0ms;
  opacity: 0;
}

:host {
  top: 0;
  left: 0;
  padding: 4px;
  margin: 0;
  box-shadow: 0 1px 4px 0 var(--popup-shadow);
  color: var(--popup-text);
  background: var(--popup-bg);
  text-overflow: ellipsis;

  &[tooltip] {
    z-index: 99999;
  }

  &[tooltip],
  &[tooltip] + #{$arrow} {
    --popup: var(--tooltip-text);
    --popup-bg: var(--tooltip-bg);
    --popup-shadow: var(--tooltip-shadow);
  }

  &[show] + #{$arrow} {
    opacity: 1;
  }

  @media not all and (prefers-reduced-motion) {
    &,
    & + #{$arrow} {
      transition: opacity var(--popup-anim);
    }
  }

  &[w-animation] {
    transition-property: none;
    opacity: 1;
  }

  &[w-animation="stack"] {
    overflow: visible;
  }
}
