.flex {
  display: flex;
}

.cln {
  --ctrl-clr-width: 17em;
  --ctrl-clr-cell-gap: 4px;
  --ctrl-selected: #fff; //#d9f7fd;
  --ctrl-selected-bg: #009fbc; //#d9f7fd;
  --ctrl-current-bg: var(--ctrl-selected);

  border-radius: var(--ctrl-border-radius);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  background: none;
  margin: auto;
  max-width: fit-content;
  contain: initial;

  label {
    max-width: var(--ctrl-clr-width);
    display: block;
    padding-right: 0;
  }

  strong {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  ol,
  ul,
  header {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  ol > li,
  ul > li {
    height: var(--ctrl-clr-cell-h);
    width: var(--ctrl-clr-cell-w);
    margin: calc(var(--ctrl-clr-cell-gap) / 2);
    padding: 0;
    font: inherit;
    line-height: var(--ctrl-clr-cell-h);
    text-align: center;
  }

  ul > li {
    margin: 0 calc(var(--ctrl-clr-cell-gap) / 2);
  }

  header > button {
    margin: auto;
    padding: 0.25em 1em;
    font-size: larger;
    font-weight: initial;
    border: none;
    border-radius: 2em;
    color: inherit;
    background-color: white;
    box-shadow: none;
  }

  ul {
    color: var(--ctrl-label);
  }

  ul > li {
    height: 1em;
    line-height: 1em;
  }

  ol > li {
    border-radius: 50%;
  }

  ol > li[prev],
  ol > li[next] {
    opacity: 0.6;
  }

  ol > li[disabled] {
    // text-decoration: line-through;
    cursor: not-allowed;
    color: var(--ctrl-err-text);
    background-color: var(--ctrl-err-bg);
  }

  ol > li[aria-current] {
    color: var(--ctrl-selected-bg);
    font-weight: bold;
    opacity: 1;
  }

  ol > li[aria-selected] {
    background-color: var(--ctrl-selected-bg);
    color: var(--ctrl-selected);
    opacity: 1;
  }

  header > button[disabled] {
    pointer-events: none;
  }

  @media (hover: hover) {
    header > button:hover {
      background-color: var(--ctrl-selected-bg);
      color: var(--ctrl-selected);
    }

    ol > li:hover:not([disabled]) {
      box-shadow: 0 0 4px 0 var(--ctrl-focus);
      opacity: 1;
    }
  }

  header > button,
  ol > li {
    cursor: pointer;
    box-sizing: border-box;
  }

  li[focused] {
    box-shadow: 0 0 4px 0 var(--ctrl-focus);
  }
}

@keyframes WUP-ZOOM-OUT-1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes WUP-ZOOM-OUT-2 {
  0% {
    transform: scale(5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes WUP-ZOOM-IN-1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(5);
    opacity: 0;
  }
}

@keyframes WUP-ZOOM-IN-2 {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.cln [calendar] {
  --ctrl-clr-cell-day-w: calc(var(--ctrl-clr-width) / 7 - var(--ctrl-clr-cell-gap));
  --ctrl-clr-h: calc((var(--ctrl-clr-cell-day-w) + var(--ctrl-clr-cell-gap)) * 6);
  --ctrl-clr-padding: calc(4px + var(--ctrl-clr-cell-gap) / 2);
  width: var(--ctrl-clr-width);
  padding: var(--ctrl-clr-padding);
  border-radius: var(--ctrl-border-radius);
  background: var(--ctrl-bg);
  box-sizing: content-box;

  @media not all and (prefers-reduced-motion) {
    > div {
      overflow: hidden;
      --anim: 300ms;

      > div {
        animation: none var(--anim) linear forwards;

        &[zoom="out"] {
          animation-name: WUP-ZOOM-OUT-1;
        }

        &[zoom="out2"] {
          animation-name: WUP-ZOOM-OUT-2;
        }

        &[zoom="in"] {
          animation-name: WUP-ZOOM-IN-1;
        }

        &[zoom="in2"] {
          animation-name: WUP-ZOOM-IN-2;
        }
      }
    }
  }

  ul,
  ol {
    margin-top: var(--ctrl-clr-padding);
  }
}

.cln [calendar="day"] {
  --ctrl-clr-cell-w: var(--ctrl-clr-cell-day-w);
  --ctrl-clr-cell-h: var(--ctrl-clr-cell-day-w);
}

.cln [calendar="month"],
.cln [calendar="year"] {
  --ctrl-clr-cell-w: calc(var(--ctrl-clr-width) / 4 - var(--ctrl-clr-cell-gap));
  --ctrl-clr-cell-h: calc((var(--ctrl-clr-h) + 1em + var(--ctrl-clr-padding)) / 4 - var(--ctrl-clr-cell-gap));

  ul {
    display: none;
  }
}

/* stylelint-disable no-duplicate-selectors */
// .cln {
//   ol {
//     background: red;

//     > li {
//       background: beige;
//     }
//   }
// }
