.cln {
  --ctrl-clr-width: 17em;
  --ctrl-selected: #fff; //#d9f7fd;
  --ctrl-selected-bg: #009fbc; //#d9f7fd;
  --ctrl-current-bg: var(--ctrl-selected);

  border-radius: var(--ctrl-border-radius);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  background: none;
  margin: auto;
  max-width: fit-content;

  label {
    max-width: var(--ctrl-clr-width);
    display: block;
    padding-right: 0;
  }

  strong {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  ol,
  ul,
  header {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  ol > li,
  ul > li {
    height: var(--ctrl-clr-cell-size);
    width: var(--ctrl-clr-cell-size);
    margin: var(--ctrl-clr-cell-gap);
    padding: 0;
    font: inherit;
    line-height: var(--ctrl-clr-cell-size);
    text-align: center;
  }

  header > button {
    margin: auto;
    padding: 0.25em 1em;
    font-size: larger;
    font-weight: initial;
    border: none;
    border-radius: 2em;
    color: inherit;
    background-color: white;
    box-shadow: none;
  }

  ul {
    color: var(--ctrl-label);
  }

  ul > li {
    height: initial;
    line-height: initial;
    padding: 2px 0;
  }

  ol > li {
    border-radius: 50%;
  }

  ol > li[prev],
  ol > li[next] {
    opacity: 0.6;
  }

  ol > li[aria-current] {
    color: var(--ctrl-selected-bg);
    font-weight: bold;
    opacity: 1;
  }

  ol > li[aria-selected] {
    background-color: var(--ctrl-selected-bg);
    color: var(--ctrl-selected);
    opacity: 1;
  }

  @media (hover: hover) {
    header > button:hover,
    ol > li:hover {
      background-color: var(--ctrl-selected-bg);
      color: var(--ctrl-selected);
      opacity: 1;
    }
  }

  header > button,
  ol > li {
    cursor: pointer;
  }
}

.cln [calendar] {
  width: var(--ctrl-clr-width);
  padding: calc(4px + var(--ctrl-clr-cell-gap));
  border-radius: var(--ctrl-border-radius);
  background: var(--ctrl-bg);
  box-sizing: content-box;
}

.cln [calendar="day"] {
  --ctrl-clr-cell-size: 2em;
  --ctrl-clr-cell-gap: calc((var(--ctrl-clr-width) / 7 - var(--ctrl-clr-cell-size)) / 2);
  // --ctrl-clr-cell-gap: 0px;
  // --ctrl-clr-cell-size: calc(var(--ctrl-clr-width) / 7 - 2 * var(--ctrl-clr-cell-gap));
  > ol {
    // max-height: calc(6 * (var(--ctrl-clr-cell-size) + var(--ctrl-clr-cell-gap) * 2));
  }
}

.cln [calendar="month"],
.cln [calendar="year"] {
  ul {
    display: none;
  }
}

// aug
// sep
// oct
// aug >> sep
