.group {
  display: flex;
  gap: 1em;
  margin: var(--base-margin) 0;

  > * {
    margin: 0;
  }
}

.noBorders {
  box-shadow: none !important;
  border: none !important;
  --ctrl-switch-padding: 1em 4px;
}
