.custom {
  --ctrl-radio-item-r: 16px;

  [icon]:after {
    content: none;
  }

  [icon] {
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid var(--ctrl-radio-item-border);
    transition: border-color var(--anim);
  }

  input:checked + [icon] {
    border: 4px solid var(--ctrl-selected);
  }
}
