.withDelIcon {
  --ctrl-select-item-del-display: inline-block;

  [item] {
    display: inline-flex;
    align-items: center;
  }

  // uncomment to test with scrollable part
  // > label {
  //   > span {
  //     flex-wrap: nowrap;

  //     > input:placeholder-shown {
  //       min-width: 1em;
  //     }
  //     // &::-webkit-scrollbar {
  //     //   display: none;
  //     //   // -ms-overflow-style: none; /* IE and Edge */
  //     //   scrollbar-width: none; /* Firefox */
  //     // }
  //   }
  // }
}

.test {
  // some extra styles possible here
  // label > span {
  //   background: yellowgreen;
  // }

  // input {
  //   background: red;
  // }

  // input:placeholder-shown,
  // input:not(:focus) {
  //   padding-left: calc(var(--ctrl-select-gap));
  // }
}

.sameHeight > wup-selectmany > label {
  height: 100%;
  align-items: baseline;
}
