.withDelIcon {
  --ctrl-select-item-del-display: inline-block;

  [item] {
    display: inline-flex;
    align-items: center;
  }
}

.test {
  // some extra styles possible here
  // label > span {
  //   background: yellowgreen;
  // }

  // input {
  //   background: red;
  // }

  // input:placeholder-shown,
  // input:not(:focus) {
  //   padding-left: calc(var(--ctrl-select-gap));
  // }
}
