.customIcon {
  > label::before {
    content: " ";
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    mask-image: url("../../assets/logo.png");
  }
}

.customIcon2 {
  > label::before {
    content: " ";
    background: center / contain url("../../assets/logo.png") no-repeat;
    margin-right: 0.25em;
    // background-size: var(--ctrl-icon-size);
  }
}

.text2 {
  color: $basicTextColor2;
}

.inlineGroup {
  display: flex;
  flex-direction: row;
  gap: 1em;

  > * {
    flex: 0 1 auto;
    margin: 4px 0 8px;
  }

  // uncomment to fix
  // button[clear],
  // [prefix],
  // [postfix] {
  //   display: inline-block;
  // }
}
