body {
  margin: 0;
  padding: 0;
  background-color: $basicBgColor;
}

h1 {
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

*:focus {
  outline: 2px solid $focusFrameColor;
  outline-offset: -2px;
}
