$focusFrameColor: var(--focusFrameColor, #005365);

$basicTextColor: var(--basicTextColor, #232323);
$basicBgColor: var(--basicBgColor, white);

$hoverColor: var(--hoverColor, #028198);
$hoverBgColor: var(--hoverColor, rgba(0, 159, 188, 0.078));

$activeLinkColor: var(--activeLinkColor, #028198);
$activeLinkBgColor: var(--activeLinkBgColor, rgba(0, 159, 188, 0.078));
$activeLinkHoverBgColor: var(--activeLinkHoverBgColor, rgba(0, 159, 188, 0.2));

$borderRadius: var(--borderRadius, 14px);
$borderColor: var(--borderColor, #e1e1e1);
$borderWidth: var(--borderWidth, 1px);
$borderStyle: $borderWidth solid $borderColor;

$headerColor: var(--headerColor, white);
$headerBgColor: var(--headerBgColor, #218ba3);
