/* stylelint-disable no-descending-specificity */
body {
  --anim: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.common {
  display: block;
  margin-bottom: 20px;
  position: relative;
  border-radius: var(--border-radius, 6px);
  background: var(--ctrl-back, #fff);

  &:focus-within {
    outline: 2px solid var(--ctrl-focus, #009fbc);

    strong,
    legend {
      color: var(--ctrl-focus, #009fbc);
    }
  }

  input:focus + * {
    color: var(--ctrl-focus, #009fbc);
  }

  strong,
  legend {
    color: var(--ctrl-label, #5e5e5e);
  }

  &[disabled] {
    opacity: 0.8;
    cursor: not-allowed;
  }

  &[invalid] {
    box-shadow: 0 0 3px 0 var(--ctrl-err-border, var(--ctrl-err, red));
    outline-color: var(--ctrl-err-border, var(--ctrl-err, red));
  }

  label {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font: inherit;
    cursor: inherit;
  }

  input,
  input + * {
    cursor: inherit;
  }

  input:required + * {
    &::after {
      content: "*";
      font-size: larger;
      font-weight: bolder;
      line-height: 0;
    }
  }
}

.textControl {
  cursor: text;

  input {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font: inherit;

    border: none;
    background: none;
    padding: var(--ctrl-padding, 1.4em 1em 0.6em 1em);
    outline: none;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  input + * {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;

    margin: 0 1em;
    padding: 0;
    box-sizing: border-box;

    max-width: calc(100% - 2 * 1em);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @media not all and (prefers-reduced-motion) {
      transition: top var(--anim), transform var(--anim), color var(--anim);
    }
    transform-origin: top left;
    transform: translateY(-50%);

    font-weight: normal;
    text-decoration: none;
  }

  input:focus + *,
  input:not(:placeholder-shown) + *,
  legend {
    top: 0.2em;
    transform: scale(0.9);
  }

  // todo hover effect
}

.slidebox {
  margin-bottom: 10px;
  background: none;
  cursor: pointer;

  label {
    padding: var(--ctrl-slide-padding, 1em);

    input:focus + * {
      color: var(--ctrl-focus, #009fbc);
    }
  }

  input {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); /* from https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    outline: none;
  }

  input + * {
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: normal;
    text-decoration: none;
    color: var(--ctrl-label, #5e5e5e);
  }

  input + * + * {
    margin-left: 0.5em;
    position: relative;
    width: 2.8em;
    height: 1em;
    border-radius: 999px;
    background: var(--ctrl-slide-back, #9f9f9f);

    @media not all and (prefers-reduced-motion) {
      transition: background-color var(--anim);
    }

    &::before {
      content: "";
      position: absolute;
      height: 1.4em;
      width: 1.4em;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: var(--ctrl-slide-off, #fff);
      box-shadow: 0 1px 4px 0 var(--ctrl-slide-shadow, #0003);
      border-radius: 50%;

      @media not all and (prefers-reduced-motion) {
        transition: left var(--anim);
      }
    }
  }

  input:checked + * + * {
    background-color: var(--ctrl-slide-on-back, #009fbc);

    &::before {
      background: var(--ctrl-slide-on, #fff);
      left: calc(100% - 1.4em);
    }
  }

  input:checked:disabled + * + * {
    opacity: 0.5;
  }
}

// reverse style
.slideboxReverse {
  label {
    flex-direction: row-reverse;

    input + * + * {
      margin-left: 0;
      margin-right: 0.5em;
    }
  }
}

.checkbox {
  input + * + * {
    height: 1.2em;
    width: 1.2em;
    border-radius: var(--border-sm-radius, 3px);
    background: var(--ctrl-check-off-back, #fff);
    box-shadow: 0 0 2px 0 var(--ctrl-check-shadow, #0003);

    @media not all and (prefers-reduced-motion) {
      transition: background-color var(--anim);
    }

    &::before {
      content: none;
    }
  }

  input:checked + * + * {
    position: initial;

    &::before {
      content: "";
      position: initial;
      top: initial;
      left: initial;
      border-radius: 0;
      box-shadow: none;

      display: block;
      height: 100%;
      width: 100%;

      transform: scale(0.7);
      background-color: var(--ctrl-check-on, #fff);

      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' xml:space='preserve'%3E%3Cpath d='M20.687 38.332a5.308 5.308 0 0 1-7.505 0L1.554 26.704A5.306 5.306 0 1 1 9.059 19.2l6.928 6.927a1.344 1.344 0 0 0 1.896 0L36.642 7.368a5.308 5.308 0 0 1 7.505 7.504l-23.46 23.46z'/%3E%3C/svg%3E");
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' xml:space='preserve'%3E%3Cpath d='M20.687 38.332a5.308 5.308 0 0 1-7.505 0L1.554 26.704A5.306 5.306 0 1 1 9.059 19.2l6.928 6.927a1.344 1.344 0 0 0 1.896 0L36.642 7.368a5.308 5.308 0 0 1 7.505 7.504l-23.46 23.46z'/%3E%3C/svg%3E");
      -webkit-mask-size: contain;
      mask-size: auto;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
    }
  }
}

.radioGroup {
  padding: var(--ctrl-padding, 1.4em 1em 0.6em 1em);

  fieldset {
    border: none;
    padding: 0;
    margin: 0 -0.5em -0.5em;

    display: flex;
    flex-wrap: wrap;
  }

  legend,
  strong {
    display: block;
    position: absolute;
    transform-origin: top left;
    top: 0.2em;
    transform: scale(0.9);

    margin: 0;
    padding: 0 0.5em;
    box-sizing: border-box;

    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    font-weight: normal;
    text-decoration: none;
    cursor: default;
  }

  input {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); /* from https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    outline: none;
  }

  input + * {
    padding: 0.5em;
    cursor: pointer;
    display: inline-flex;
    align-items: flex-end;

    &::after {
      display: inline-block;
      content: "";
      height: 1.2em;
      width: 1.2em;
      border: 0.3em solid var(--ctrl-radio-back, #fff);
      box-sizing: border-box;
      background: var(--ctrl-radio-off, #fff);
      box-shadow: 0 0 1px 1px var(--ctrl-radio-shadow, #0003);
      border-radius: 50%;
      margin: 0 0.5em;

      @media not all and (prefers-reduced-motion) {
        transition: background-color var(--anim);
      }
    }
  }

  input:checked + *::after {
    background-color: var(--ctrl-radio-on, #009fbc);
  }

  input:focus + *::after {
    box-shadow: 0 0 1px 1px var(--ctrl-focus, #009fbc);
  }
}

.wup-hide {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); /* from https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
}

// todo we have a lot of ctrl-focus vars. need to extend to be better
// todo do we need radioElement beside RadioGroupElement ?
