.custom {
  margin: 6px;

  button {
    z-index: 80001;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    background: var(--base-btn-bg);
    color: var(--base-btn-text);
    border-radius: 9999px;
    border: none;
    cursor: pointer;

    &:hover {
      box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.2);
    }
  }

  [menu] {
    z-index: 80000;
    box-shadow: none;
    background: none;
    // overflow: visible;

    button {
      background: cornflowerblue;
    }

    ul {
      display: flex;
      padding: 2px;
    }

    li {
      padding: 0;
      margin: 2px;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.vertical {
  [menu] ul {
    flex-direction: column;
  }
}

.right {
  [menu] {
    --popup-anim: 500ms;
    // opacity: 1 !important;
    // background: red;
    // overflow: visible;
  }
}
