.FAQPage {
  max-width: 700px !important;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  max-width: fit-content !important;

  i {
    color: $basicTextColor2;
  }

  > section {
    box-shadow: none;
  }

  pre {
    box-shadow: 0 0 4px 1px var(--section-shadow-color, rgba(0, 0, 0, 0.1));
    border-radius: $borderRadius;
  }
}
