.block {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 20px auto;
  box-sizing: border-box;
  border: 1px solid $basicActiveBgColor;
  border-radius: $borderRadius;

  > button {
    position: absolute;
    min-height: 30px;
    margin: 0;
  }
}

.topLeft {
  top: 0;
  left: 0;
  border-radius: 0;
  border-top-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
}

.bottomLeft {
  bottom: 0;
  left: 0;
  border-radius: 0;
  border-top-right-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
}

.topMiddle {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
}

.bottomMiddle {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
}

.topRight {
  top: 0;
  right: 0;
  border-radius: 0;
  border-bottom-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
}

.bottomRight {
  bottom: 0;
  right: 0;
  border-radius: 0;
  border-bottom-right-radius: $borderRadius;
  border-top-left-radius: $borderRadius;
}

:root {
  // todo develop different types ???
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
}

.notify[w-placement="top-left"],
.notify[w-placement="bottom-left"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  left: 0;
  transform: translateX(-100%);
}

.notify[w-placement="top-right"],
.notify[w-placement="bottom-right"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  right: 0;
  transform: translateX(100%);
}

.notify[w-placement="top-middle"],
.notify[w-placement="bottom-middle"] {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transform: translateY(-100%);
}

.notify[w-placement="top-left"],
.notify[w-placement="top-middle"],
.notify[w-placement="top-right"] {
  top: 0;
}

.notify[w-placement="bottom-left"],
.notify[w-placement="bottom-middle"],
.notify[w-placement="bottom-right"] {
  bottom: 0;
}

.notify[show] {
  transform: none;
}
