.popupViewExtraScroll {
  overflow: auto;
  max-height: 200px;
  position: relative;

  // border-top: 3px solid black;
  // border-right: 4px solid black;
  // border-bottom: 5px solid black;
  // border-left: 6px solid black;
  // margin: 2px;
  // padding: 2px;
  border: $borderStyle;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

  > * {
    margin-top: 10px;
  }
}

.popupContent {
  background: purple;
  color: white;
  border: none;
  text-overflow: ellipsis;
  // min-width: 180px;
  // min-height: 30px;
}

.popupView {
  padding: 14px;
  position: relative;
  background: var(--basicBgColor, #e5e5e5);
  height: 200px;
  max-width: 300px;
  overflow: auto;
  margin: auto;

  > div {
    display: flex;

    &:last-of-type {
      margin-top: auto;
    }
  }
}

.trg {
  height: 120px;
  width: 300px;
  margin: 20px auto 100px auto;
}
