.FAQ {
  h3 {
    margin: 8px 0;
    color: $activeLinkColor;

    > a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $basicActiveBgColor;
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li + li {
    margin-top: 30px;
  }

  li > div {
    padding: 0 14px;
    font-size: small;
  }

  section li + li {
    margin-top: 1em;
  }

  section ol {
    padding-left: 1em;
  }
}
