.features {
  h3 {
    margin: 0;
  }

  ul {
    font-size: small;
    line-height: 17px;
    padding-left: 20px;
    margin: 0;
    list-style-type: disc;
    color: $basicTextColor2;

    & > li {
      padding: 0;
    }
  }
}

.smallText {
  font-size: small;
}

.h2 {
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}
