.features {
  h3 {
    margin: 0;
  }

  ul {
    font-size: small;
    padding-left: 20px;
    margin: 0;
    list-style-type: disc;
    color: $basicTextColor2;
  }

  & > li {
    padding: 0;
  }
}

.smallText {
  font-size: small;
}
