/* stylelint-disable no-descending-specificity */
.headerDetails {
  font-weight: normal;
  font-size: small;
  opacity: 0.8;
}

.cssVars {
  margin: 4px;
  font-size: smaller;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      span:first-child {
        color: #1973b8;
      }

      span:last-child {
        color: #a95b3d;
      }
    }
  }
}
