/* stylelint-disable no-descending-specificity */
.headerDetails {
  font-weight: normal;
  font-size: small;
  opacity: 0.8;
}

.cssVars {
  margin: 4px;
  font-size: smaller;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      span:first-child {
        color: var(--cssVarColor, #1973b8);
      }

      span:last-child {
        color: #a95b3d;
      }
    }
  }
}

.colorBlock {
  display: inline-block;
  width: 10px;
  height: 10px;
  user-select: none;
  box-shadow: 0 0 1px 0 var(--borderColor2, gray);
  margin: 0 2px;
}

.defLink {
  color: $activeLinkColor;

  &:hover {
    opacity: 0.8;
  }
}
