.uiform {
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border: solid 1px #cfcfcf;
  border-radius: 3px;
  > * {
    padding: 0;
    margin: 0;
    + * {
      margin-top: 2em;
    }
    //title
    &*:first-child {
      font-weight: bold;
    }
    //button-submit-group
    &*:last-child {
      // stylelint-disable-next-line plugin/no-unsupported-browser-features
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  //button-submit
  [type="submit"] {
    cursor: pointer;
    padding: 0.5em 1em;
    margin: 0;
    position: relative;
    color: white;
    background-color: #26608e;
    border: solid 1px #26608e;
    border-radius: 3px;
    &:hover {
      color: white;
      background-color: #00a5d4;
      border-color: #00a5d4;
    }
    &[disabled] {
      cursor: default;
      cursor: not-allowed;
    }
  }
}
