@import "../styles";

:host {
  --ctrl-icon-img: var(--wup-icon-eye);

  &[w-reverse] {
    --ctrl-icon-img: var(--wup-icon-eye-off);
  }

  input[type="password"] {
    font-family: Verdana, sans-serif;
    letter-spacing: 0.125em;
  }

  button[eye] {
    @include wup-icon(5px);
    cursor: pointer;
    margin-right: -0.5em;
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    mask-size: calc(var(--ctrl-icon-size) * 1.3);
  }

  button[eye="off"] {
    --ctrl-icon-img: var(--wup-icon-eye-off);
  }

  &[w-reverse] button[eye="off"] {
    --ctrl-icon-img: var(--wup-icon-eye);
  }

  @media (hover: hover) and (pointer: fine) {
    button[eye]:hover {
      box-shadow: none;
      background-color: var(--ctrl-focus-label);
    }
  }

  button[clear] {
    margin: 0;
  }
}
