@import "../styles";

:root {
  --ctrl-radio-item-r: 14px;
  --ctrl-radio-item-r-on: 8px;
  --ctrl-radio-item-bg: none;
  --ctrl-radio-item-on: var(--ctrl-focus);
  --ctrl-radio-item-border: #0003;
  --ctrl-radio-item-border-w: 2px;
  --ctrl-radio-gap: 7px;

  [wupdark] {
    --ctrl-radio-item-border: var(--ctrl-label);
  }
}

:host {
  position: relative;
  padding: var(--ctrl-padding);

  fieldset {
    border: none;
    padding: 0;
    margin: calc(var(--ctrl-radio-gap) * -0.5) calc(var(--ctrl-radio-gap) * -1);
    display: flex;
    flex-wrap: wrap;
  }

  legend {
    display: block;
    position: absolute;
    top: 0.2em;
    transform-origin: top left;
    transform: scale(0.9);
    margin: 0 var(--ctrl-radio-gap);
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: normal;
    text-decoration: none;
  }

  strong {
    font: inherit;
  }

  label {
    padding: var(--ctrl-radio-gap);
    gap: var(--ctrl-radio-gap);
  }

  &[w-reverse] label {
    flex-direction: row-reverse;
  }

  input {
    @include wup-hidden;
  }

  &[readonly],
  &[readonly] legend,
  &[readonly] label {
    cursor: default;
  }

  [icon] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--ctrl-radio-item-r);
    height: var(--ctrl-radio-item-r);
    box-sizing: border-box;
    background: var(--ctrl-radio-item-bg);
    box-shadow: 0 0 1px var(--ctrl-radio-item-border-w) var(--ctrl-radio-item-border);
    border-radius: 50%;

    // not relative because 1.2em of 14px provides round-pixel-issue and not always rounded items
    &:after {
      content: "";
      display: inline-block;
      width: var(--ctrl-radio-item-r-on);
      height: var(--ctrl-radio-item-r-on);
      border-radius: 50%;
      transition: background-color var(--anim);
    }
  }

  input:checked + [icon]:after {
    background: var(--ctrl-radio-item-on);
  }

  @media not all and (prefers-reduced-motion) {
    label {
      transition: color var(--anim);
    }

    [icon] {
      transition: background-color var(--anim);
    }
  }

  label:focus-within {
    color: var(--ctrl-selected);

    [icon] {
      --ctrl-radio-item-border: var(--ctrl-selected);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    label:hover {
      color: var(--ctrl-selected);

      [icon] {
        --ctrl-radio-item-border: var(--ctrl-selected);
      }
    }
  }
}
