@import "../styles";

:host {
  display: inline-block; // it removes extra space below
  cursor: text;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  overflow: auto;
  margin: 0;
  padding: 0;
  @include wup-scrollSmall;
}
