/* stylelint-disable no-descending-specificity */
// toggle button with primary style (WUPcssButton is applied in example1.tsx)
.primary {
  margin-left: 1em;

  > button {
    min-width: initial;
    margin: 0;
    padding: 0.7em;
  }

  > button:after {
    content: none; // hide default chevron
  }
}

.custom {
  margin: 6px;

  button {
    // z-index: 7999 !important; // tescase: uncomment and click on stacked button - previosuly it was open/close immediately
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    min-width: initial;
    margin: 0;
    padding: 0;
    border-radius: 9999px;
  }

  > button:after {
    content: none; // hide default chevron
  }

  > wup-popup {
    box-shadow: none;
    background: none;
    overflow: visible;

    button {
      --base-btn-bg: cornflowerblue;
    }

    > ul {
      display: flex;
      padding: 2px;

      > li {
        padding: 0;
        margin: 2px;
        border-radius: 9999px;

        &[focused] > button {
          box-shadow: 0 0 4px 0 var(--base-focus);
        }
      }
    }

    &[position="left"] > ul {
      flex-direction: row-reverse;
    }
  }
}

.vertical > wup-popup {
  > ul {
    flex-direction: column;
  }

  &[position="top"] > ul {
    flex-direction: column-reverse;
  }
}
