$h1Height: 50px;
$navWidth: 120px;

h1 {
  height: $h1Height;
  line-height: $h1Height;
  padding: 0 0 0 $navWidth;
  padding-left: $navWidth;
  margin: 0;
  border-bottom: 1px solid $borderColor;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  background: linear-gradient(270deg, $headerBgColor, $headerBgColor2);
  color: $headerColor;

  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: relative;

  @media (max-width: 410px) {
    padding: 0 20px;
    justify-content: flex-start;
  }
}

a.headerLink {
  font-size: 24px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  > img {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
  }

  &::after {
    right: 0;
  }
}

.darkMode {
  font-size: 14px;
  margin: 0 4px;
  box-shadow: none !important;
  border: none !important;

  --ctrl-switch-r: 1.4em;
  --ctrl-switch-r-hover: 2em;
  --ctrl-switch-h: 2em;
  --ctrl-switch-w: 3.6em;
  --ctrl-switch-padding: 1em 4px; // padding of control itself

  [bar] {
    --padding: calc((var(--ctrl-switch-h) - var(--ctrl-switch-r)) / 2);
    padding: var(--padding);
    box-sizing: border-box;

    @include iconBefore($icon-moon);
    @include iconAfter($icon-sun);

    &:before,
    &:after {
      position: absolute;
      padding: 1px; // to be sure the thumb overrides icons on small devices
    }
  }

  &[checked] [thumb],
  [bar]::after {
    transform: translateX(calc(var(--ctrl-switch-w) - var(--padding) * 2)) translateX(-100%);
  }

  // &:hover [bar] {
  //   box-shadow: 0 0 0 1px var(--ctrl-switch-off-bg);
  // }

  // &[checked]:hover [bar] {
  //   box-shadow: 0 0 0 1px var(--ctrl-switch-on-bg);
  // }
}

.page {
  display: flex;
  flex-direction: row;
  height: calc(100vh - #{$h1Height} - 1px);

  > .leftBar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: $navWidth;
    background-color: $basicBgColor;
    border: $borderStyle;
    border-top: none;
    border-left: none;
    border-bottom: none;
    height: calc(100vh - #{$h1Height} - 2px);

    > div:last-child {
      margin-top: auto;
    }

    > ul {
      padding: 0;
      margin: 0;

      a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: inherit;

        &:hover {
          color: $hoverColor;
          background: $hoverBgColor;
        }
      }

      .activeLink {
        color: $activeLinkColor;
        background-color: $activeLinkBgColor;

        &:hover {
          background-color: $activeLinkHoverBgColor;
        }
      }

      .nested {
        margin-left: 1em;
      }
    }
  }

  main {
    width: calc(100vw - #{$navWidth});
    padding: 10px;

    /* stylelint-disable-next-line no-descending-specificity */
    > div {
      min-width: 450px;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}
