/* stylelint-disable no-descending-specificity */
.pageSpin {
  > div {
    margin-bottom: 30px;
  }

  button > wup-spin,
  button + wup-spin {
    --spin-2: white;
  }

  small {
    display: block;
    margin-bottom: 10px;

    > strong {
      color: #ad0000;
    }

    > ul {
      margin-top: 0;
    }
  }

  .bottom {
    margin-top: 100vh;
  }

  .btnAlign {
    display: flex;
    align-items: center;

    & > wup-spin {
      margin-right: 4px;
    }
  }

  .types {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }

    > .types > div {
      flex-direction: row;
    }
  }
}

.spin11 {
  --spin-2: transparent;
}

@keyframes SPIN-51 {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
    background: var(--spin-1);
  }

  50% {
    transform: scale(1.5);
    background: var(--spin-2);
  }
}

.spin51 div:after {
  --spin-2: red;
  animation: SPIN-51 var(--spin-speed) linear infinite;
}

.spin61 div {
  border-radius: 50%;
  background: red;
}

.spin62 div {
  --spin-item-size: calc(var(--spin-size) / 15);
  width: calc(var(--spin-item-size) * 2);
  height: calc(var(--spin-item-size) * 2);
  border-radius: 50%;
  background: green;
}

.spin63 div {
  width: calc(var(--spin-size) / 1);
  border-radius: 50%;
  background: blue;
}

.spin64 div {
  width: calc(var(--spin-size) / 2);
}

.spin65 div {
  width: calc(var(--spin-size) / 2);
  border-radius: 50%;
  background: blue;
  opacity: 0.5;
}

.spin6-2 div {
  border: var(--spin-item-size) solid var(--spin-1);
  border-top-color: var(--spin-2);
}
