/// Style for small-scroll; vars --scroll, --scroll-hover to customize styling
/// @example :host { @include wup-scrollSmall; }
@mixin wup-scrollSmall {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-corner {
    background: none;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: var(--scroll, rgba(0, 0, 0, 0.2));
    border-radius: 999px;
    cursor: pointer;

    // `@media (hover: hover)` is added by postcss-hover-media-feature
    &:hover {
      background-color: var(--scroll-hover, rgba(0, 0, 0, 0.5));
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar-track-piece:vertical:start,
  &::-webkit-scrollbar-track-piece:vertical:end,
  &::-webkit-scrollbar-track-piece:horizontal:start,
  &::-webkit-scrollbar-track-piece:horizontal:end {
    margin: 0;
    cursor: pointer;
  }
}

/// Style for button with icons
/// @example :host > button { @include wup-btnIcon; }
@mixin wup-btnIcon {
  display: inline-block;
  cursor: pointer;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
  width: var(--icon-hover-r, 2em);
  height: var(--icon-hover-r, 2em);
  background: none;
  outline: none;
  border-radius: 50%;

  &:after {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: var(--icon, #000);
    /* stylelint-disable plugin/no-unsupported-browser-features */
    mask-size: var(--icon-size, 1em);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: var(--icon-img);
    /* stylelint-enable plugin/no-unsupported-browser-features */
  }

  &:focus {
    box-shadow: inset 0 0 0 99999px var(--icon-focus-bg);

    &:after {
      background: var(--icon-hover, var(--icon, #000));
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: inset 0 0 0 99999px var(--icon-hover-bg);

      &:after {
        background: var(--icon-hover, var(--icon, #000));
      }
    }

    &:focus:hover {
      opacity: 0.9;
    }
  }
}

/// Default style for primary/submit button; WARN: it contains min-width: 10em...
/// @param $type 1 - primary, 2/3 - secondary styles via vars `--base-btn2-*`, `--base-btn3-*`
/// @example :host button[type="submit"] { @include wup-button; }
@mixin wup-button($type: 1) {
  $v: if($type == 1, "", $type);

  box-shadow: none;
  border: none;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  padding: 11px;
  margin: var(--base-margin) 0;
  min-width: 10em;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  background: var(--base-btn#{$v}-bg);
  color: var(--base-btn#{$v}-text);
  outline: none;

  &:focus {
    box-shadow: inset 0 0 0 2px var(--base-btn-focus);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.2);
    }
  }

  &[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
    user-select: none;
  }

  &[aria-busy] {
    cursor: wait;
  }

  &[busy] {
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 3px;
      width: 90%;
      width: calc(100% - calc(var(--base-margin) * 2));
      background-color: #fff;
      animation: BTN-BUSY 3s cubic-bezier(0, 0, 0.2, 1) infinite;
      opacity: 0.3;
      left: 50%;
    }
  }

  // Sass moves it to the root level
  @keyframes BTN-BUSY {
    0% {
      transform: translateX(-50%) scaleX(40%);
    }

    50% {
      transform: translateX(-50%) scaleX(100%);
    }

    100% {
      transform: translateX(-50%) scaleX(40%);
    }
  }
}

/// Style for visually hidden but accessible for screenReaders
/// @example :host input { @include wup-hidden; }
@mixin wup-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  min-width: initial;
  padding: 0;
}

/// Style for icons; vars --ctrl-icon, --ctrl-icon-size, --ctrl-icon-img to customize styling
/// @example :host button:after { @include wup-icon; }
@mixin wup-icon {
  display: inline-block;
  width: var(--ctrl-icon-size);
  min-height: var(--ctrl-icon-size);
  box-sizing: content-box;
  margin: 0;
  padding: 5px;
  flex: 0 0 auto;
  align-self: stretch;
  border: none;
  box-shadow: none;
  background: var(--ctrl-icon);
  /* stylelint-disable plugin/no-unsupported-browser-features */
  mask-size: var(--ctrl-icon-size);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: var(--ctrl-icon-img);
  /* stylelint-enable plugin/no-unsupported-browser-features */
}

/// Default style for popup menu
/// @example :host [menu] { @include wup-menu; }
@mixin wup-menu {
  padding: 0;
  overflow: hidden;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: pointer;
    overflow: auto;
    max-height: 300px;
    @include wup-scrollSmall;
  }

  li {
    padding: 1em;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--menu-hover-text);
        background: var(--menu-hover-bg);
      }
    }

    &[aria-selected="true"] {
      color: var(--ctrl-selected);
      display: flex;

      &:after {
        content: "";
        --ctrl-icon-img: var(--wup-icon-check);
        @include wup-icon;
        background: var(--ctrl-selected);
        margin-left: auto;
        padding: 0;
      }
    }

    &[focused] {
      box-shadow: inset 0 0 4px 0 var(--base-focus);
    }
  }
}

/// Dragdrop styles of sortElement: [drag], [drop], [drop-line], [hovered]; vars --sort-active-color, --sort-active-shadow to customize styling
/// @example :host { @include wup-sortable; }
@mixin wup-sortable {
  [item][drag],
  [item][drop] {
    color: var(--sort-active-color);
    box-shadow: inset 0 0 3px 0 var(--sort-active-shadow);
    opacity: 0.7;
  }

  [item][drag] {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    cursor: grabbing;
    text-decoration: none;
    opacity: 0.8;

    &[remove] {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }

  [drop-line] {
    z-index: 9998;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 2px;
    background: var(--sort-active-color);
    box-shadow: 0 0 2px 0 var(--sort-active-shadow);
  }

  &[hovered] {
    user-select: none;
  }
}

/// Add hover & focus style on pointed item (via :before)
/// @param $icon selector of the icon inside the parent
/// @param $size size of the hover circle
/// @param $color color of the hover circle
/// @example :host label { @include wup-iconHover("strong"); }
@mixin wup-iconHover($icon, $size: var(--icon-hover-r, 2.4em), $color: var(--icon-hover, #0001)) {
  #{$icon} {
    transform-style: preserve-3d;

    &:before {
      z-index: -1;
      position: absolute;
      transform: translate(-50%, -50%) translateZ(-1px);
      left: 50%;
      top: 50%;
      width: $size;
      height: $size;
      background: $color;
      border-radius: 50%;
    }
  }

  &:focus-within #{$icon} {
    position: relative;

    &:before {
      content: "";
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover #{$icon} {
      position: relative;

      &:before {
        content: "";
        opacity: 0.8;
      }
    }
  }
}
