@import "styles";

:root {
  --modal-anim-t: 400ms;
  --modal-text: inherit;
  --modal-bg: #fff;
  --modal-fade: #0007;
  --modal-margin: 2em;

  [wupdark] {
    --modal-bg: #222a36;
  }
}

:host {
  z-index: 9002;
  width: 100%;
  max-width: 600px;
  min-height: 150px;
  color: var(--modal-text);
  background: var(--modal-bg);
  border: 1px solid #0002;
  user-select: none;
  pointer-events: none;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  touch-action: none;
  outline: none;

  &[open] {
    user-select: initial;
    pointer-events: initial;
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    touch-action: initial;
  }

  &[w-placement="top"] {
    top: 0;
    left: 0;
    right: 0;
    margin: var(--modal-margin);
    margin-left: auto;
    margin-right: auto;
    max-height: calc(100% - var(--modal-margin) * 2);
    transform: translateY(-50%);
  }

  &[w-placement="center"] {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    height: fit-content; // This is tricky rule. If it will buggy need to rewrite centering logic via js-core like it works with popup
    max-height: calc(100% - var(--modal-margin) * 2);
    transform: translateY(-150%);
  }

  &[w-placement="right"] {
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
    transform: translateX(100%);
  }

  &[w-placement="left"] {
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
    transform: translateX(-100%);
  }

  &[show] {
    transform: none;
  }

  &[hide] {
    opacity: 0 !important;
    pointer-events: none !important;
    user-select: none !important;
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    touch-action: none !important;
  }

  @media (max-width: 600px) {
    --modal-margin: 0px;
    border-radius: 0;
  }

  > button[close] {
    --icon-img: var(--wup-icon-cross);
    z-index: 10;
    position: absolute;
    right: 0;
    margin: -0.2em 1em 0;
  }

  h2 {
    margin: 0 0 1em;
    padding-right: 1.8em;
  }

  wup-form {
    max-width: initial;

    button[type="submit"] {
      margin-bottom: 0;
      margin-left: auto;
    }
  }

  footer {
    display: flex;
    gap: calc(var(--base-margin) / 2);
    margin-top: var(--base-margin);
    justify-content: flex-end;

    > button {
      @include wup-button;

      &[type] {
        margin: 0;
        min-width: 7em;
      }

      &[data-close="modal"] {
        background: var(--base-btn2-bg);
        color: var(--base-btn2-text);
      }
    }
  }
}

.wup-modal-open {
  user-select: none; // prevent selection outside modal via Ctrl+A
}

.wup-modal-fade {
  --modal-anim: var(--modal-anim-t) cubic-bezier(0, 0, 0.2, 1) 0ms;
  z-index: 9000;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--modal-fade);
  opacity: 0;
  pointer-events: none;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  touch-action: none;

  &[show] {
    pointer-events: initial;
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    touch-action: initial;
    opacity: 1;
  }

  @media not all and (prefers-reduced-motion) {
    transition: opacity var(--modal-anim), transform var(--modal-anim);
  }
}
