:root {
  --notify-anim-t: 400ms;
  --notify-margin: 1em 0;
  --notify-w: 300px;
  --notify-text: #fff;
  --notify-bg: rgba(16, 70, 82, 0.9);
  --notify-shadow: #0003;
  --notify-progress: #009fbc;

  [wupdark] {
    --notify-text: #d8d8d8;
    --notify-bg: rgba(16, 70, 82, 0.9);
    --notify-shadow: #0006;
  }
}

:host {
  --modal-anim: var(--notify-anim-t) cubic-bezier(0, 0, 0.2, 1) 0ms;
  z-index: 9010;
  min-height: 64px;
  max-height: 80vh;
  width: var(--notify-w);
  max-width: 80vw;
  margin: var(--notify-margin);
  color: var(--notify-text);
  background: var(--notify-bg);
  box-shadow: 0 1px 4px 0 var(--notify-shadow);

  &[w-placement="top-left"],
  &[w-placement="bottom-left"] {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    left: 0;
    transform: translateX(-100%);
  }

  &[w-placement="top-right"],
  &[w-placement="bottom-right"] {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    right: 0;
    transform: translateX(100%);
  }

  &[w-placement="top-middle"],
  &[w-placement="bottom-middle"] {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transform: translateY(-100%);
  }

  &[w-placement="top-left"],
  &[w-placement="top-middle"],
  &[w-placement="top-right"] {
    top: 0;
  }

  &[w-placement="bottom-left"],
  &[w-placement="bottom-middle"],
  &[w-placement="bottom-right"] {
    bottom: 0;
  }

  &[show] {
    transform: none;
  }

  > button[close] {
    --icon-img: var(--wup-icon-cross);
    --icon: var(--notify-text);
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.4em;
  }

  > [progress] {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--notify-progress);
    transform-origin: left;
  }
}
