:root {
  --spin-1: #ffa500;
  --spin-2: #fff;
  --spin-t: 1.2s;
  --spin-size: 3em;
  --spin-item-size: calc(var(--spin-size) / 8);
  --spin-fade: rgba(255, 255, 255, 0.43);
}

@keyframes WUP-SPIN-1 {
  100% {
    transform: rotate(360deg);
  }
}

:host {
  contain: style;
  z-index: 100;
  width: var(--spin-size);
  height: var(--spin-size);
  top: 0;
  left: 0;
  pointer-events: none;

  &,
  > div {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
  }

  > div {
    animation: WUP-SPIN-1 var(--spin-t) linear infinite;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    &[fade] {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      animation: none;
      border: none;
      border-radius: var(--border-radius);
      transform: none;
      z-index: -1;
      background: var(--spin-fade);

      &:after {
        content: none;
      }
    }
  }
}

// Styles below are applied via spinUse... functions: `spinSetStyle(cls, 1, "@wup-include useRing")`

/// Style for spinUseRing()
@mixin useRing {
  :host > div {
    border: var(--spin-item-size) solid var(--spin-1);
    border-top-color: var(--spin-2);
  }
}

/// Style for spinUseDualRing()
@mixin useDualRing {
  :root {
    --spin-2: transparent;
  }

  :host > div {
    border: var(--spin-item-size) solid;
    border-color: var(--spin-2) var(--spin-1) var(--spin-2) var(--spin-1);
  }
}

/// Style for spinUseTwinDualRing()
@mixin useTwinDualRing {
  @keyframes WUP-SPIN-2-2 {
    0% {
      transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }

  :root {
    --spin-2: #b35e03;
    --spin-item-size: max(1px, calc(var(--spin-size) / 12));
  }

  :host {
    position: relative;

    > div {
      &:nth-child(1) {
        border: var(--spin-item-size) solid;
        border-color: transparent var(--spin-1) transparent var(--spin-1);
      }

      &:nth-child(2) {
        border: var(--spin-item-size) solid;
        border-color: var(--spin-2) transparent var(--spin-2) transparent;
        position: absolute;
        width: calc(100% - var(--spin-item-size) * 3);
        height: calc(100% - var(--spin-item-size) * 3);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: WUP-SPIN-2-2 var(--spin-t) linear infinite;
      }
    }
  }
}

/// Style for spinUseRoller(); $cnt must be equal to itemsCount
@mixin useRoller($cnt: 4) {
  :host {
    position: relative;

    > div {
      animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
      position: absolute;
      border: var(--spin-item-size) solid;
      border-color: var(--spin-1) transparent transparent transparent;

      @for $i from 1 through $cnt - 1 {
        &:nth-child(#{$i}) {
          animation-delay: -0.15s * ($cnt - $i);
        }
      }
    }
  }
}

/// Style for spinUseDotRoller(); $cnt must be equal to itemsCount
@mixin useDotRoller($cnt: 7) {
  :root {
    --spin-step: 24deg;
  }

  :host {
    position: relative;

    > div {
      animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
      position: absolute;

      &:after {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        top: calc(50% - var(--spin-item-size) / 2);
        transform-origin: calc(var(--spin-size) / 2);
        width: var(--spin-item-size);
        height: var(--spin-item-size);
        border-radius: 50%;
        background: var(--spin-1);
      }

      @for $i from 1 through $cnt {
        &:nth-child(#{$i}) {
          animation-delay: -0.036s * $i;

          &:after {
            transform: rotate(calc(45deg + var(--spin-step) * #{$i - 1}));
          }
        }
      }
    }
  }
}

/// Style for spinUseDotRing(); $cnt must be equal to itemsCount
@mixin useDotRing($cnt: 10) {
  @keyframes WUP-SPIN-2 {
    0%,
    20%,
    80%,
    100% {
      transform: scale(1);
      background: var(--spin-1);
    }

    50% {
      transform: scale(1.4);
      background: var(--spin-2);
    }
  }

  :root {
    --spin-2: #ff5200;
  }

  :host {
    position: relative;

    > div {
      position: absolute;
      width: calc(100% / 1.4142135623730951);
      height: calc(100% / 1.4142135623730951);
      animation: none;
      top: 50%;
      left: 50%;

      &:after {
        animation: WUP-SPIN-2 var(--spin-t) linear infinite;
        content: " ";
        display: block;
        width: var(--spin-item-size);
        height: var(--spin-item-size);
        border-radius: 50%;
        background: var(--spin-1);
      }

      @for $i from 1 through $cnt {
        &:nth-child(#{$i}) {
          transform: translate(-50%, -50%) rotate(360deg / $cnt * ($i - 1));

          &:after {
            animation-delay: 0.1s * ($i - 1);
          }
        }
      }
    }
  }
}

/// Style for spinUseSpliceRing(); $cnt must be equal to itemsCount
@mixin useSpliceRing($cnt: 12) {
  @keyframes WUP-SPIN-3 {
    100% {
      opacity: 0;
      background: var(--spin-2);
    }
  }

  :root {
    --spin-item-size: calc(var(--spin-size) / 10);
  }

  :host {
    position: relative;

    > div {
      animation: WUP-SPIN-3 var(--spin-t) linear infinite;
      position: absolute;
      width: calc(var(--spin-size) / 4);
      height: var(--spin-item-size);
      left: 0;
      top: calc(50% - var(--spin-item-size) / 2);
      transform-origin: calc(var(--spin-size) / 2);
      background: var(--spin-1);
      border-radius: calc(var(--spin-item-size) / 2);

      @for $i from 1 through $cnt {
        &:nth-child(#{$i}) {
          animation-delay: -0.1s * ($cnt - $i);
          transform: rotate(360deg / $cnt * ($i - 1));
        }
      }
    }
  }
}

/// Style for spinUseHash()
@mixin useHash {
  @keyframes WUP-SPIN-4-1 {
    0% {
      width: var(--spin-item-size);
      box-shadow: var(--spin-1) var(--spin-end) var(--spin-pad2), var(--spin-1) var(--spin-start) var(--spin-pad);
    }

    35% {
      width: var(--spin-size);
      box-shadow: var(--spin-1) 0 var(--spin-pad2), var(--spin-1) 0 var(--spin-pad);
    }

    70% {
      width: var(--spin-item-size);
      box-shadow: var(--spin-1) var(--spin-start) var(--spin-pad2), var(--spin-1) var(--spin-end) var(--spin-pad);
    }

    100% {
      box-shadow: var(--spin-1) var(--spin-end) var(--spin-pad2), var(--spin-1) var(--spin-start) var(--spin-pad);
    }
  }

  @keyframes WUP-SPIN-4-2 {
    0% {
      height: var(--spin-item-size);
      box-shadow: var(--spin-2) var(--spin-pad) var(--spin-end), var(--spin-2) var(--spin-pad2) var(--spin-start);
    }

    35% {
      height: var(--spin-size);
      box-shadow: var(--spin-2) var(--spin-pad) 0, var(--spin-2) var(--spin-pad2) 0;
    }

    70% {
      height: var(--spin-item-size);
      box-shadow: var(--spin-2) var(--spin-pad) var(--spin-start), var(--spin-2) var(--spin-pad2) var(--spin-end);
    }

    100% {
      box-shadow: var(--spin-2) var(--spin-pad) var(--spin-end), var(--spin-2) var(--spin-pad2) var(--spin-start);
    }
  }

  :root {
    --spin-2: #b35e03;
    --spin-item-size: calc(var(--spin-size) / 8);
    --spin-end: calc((var(--spin-size) - var(--spin-item-size)) / 2);
    --spin-start: calc((var(--spin-end)) * -1);
    --spin-pad: calc(var(--spin-size) / 2 - var(--spin-size) / 3 + var(--spin-item-size) / 3);
    --spin-pad2: calc(-1 * var(--spin-pad));
  }

  :host {
    position: relative;
    padding: 3px;

    > div {
      position: absolute;
      transform: translate(-50%, -50%) rotate(165deg);
      top: 50%;
      left: 50%;
      width: var(--spin-item-size);
      height: var(--spin-item-size);
      border-radius: calc(var(--spin-item-size) / 2);

      &:nth-child(1) {
        animation: var(--spin-t) ease 0s infinite normal none running WUP-SPIN-4-1;
      }

      &:nth-child(2) {
        animation: var(--spin-t) ease 0s infinite normal none running WUP-SPIN-4-2;
      }
    }
  }
}
