.popupEx1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trg {
  height: 100px;
  width: 300px;
  margin: 20px auto;
}

.fitBlock {
  width: 100%;
  height: 140px;
  margin: 20px auto;
  box-sizing: border-box;
  border: 1px solid $basicActiveBgColor;
  border-radius: $borderRadius;
}

.scrollBlock {
  // position: relative;
  overflow: auto;
  border: 1px solid $basicActiveBgColor;
  width: 100%;
  height: 140px;
  margin: 20px auto;

  > button {
    display: block;
    margin: 20px auto;
    padding: 10px;
  }

  > div {
    height: 140px;
  }
}

.scrollPopup {
  overflow: auto;
}
