/* stylelint-disable no-descending-specificity */
.popupEx1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trg {
  height: 100px;
  width: 300px;
  margin: 20px auto;
}

.fitBlock {
  width: 100%;
  height: 140px;
  margin: 20px auto;
  box-sizing: border-box;
  border: 1px solid $basicActiveBgColor;
  border-radius: $borderRadius;
}

.scrollBlock {
  // position: relative;
  overflow: auto;
  border: 1px solid $basicActiveBgColor;
  width: 100%;
  height: 140px;
  margin: 20px auto;

  > button {
    display: block;
    margin: 20px auto;
    padding: 10px;
  }

  > div {
    height: 140px;
    width: calc(100% + 100px);
  }
}

.scrollPopup {
  overflow: auto;
}

$dropdownAnimation: 300ms;
// simple dropdown animation
@media not all and (prefers-reduced-motion) {
  .dropdownPopup-2 {
    animation: drawOn $dropdownAnimation ease-in-out;
    transform-origin: top center;

    &[position="top"] {
      transform-origin: bottom center;
    }

    @keyframes drawOn {
      from {
        transform: scaleY(0);
      }
    }
    @keyframes drawOff {
      to {
        transform: scaleY(0);
      }
    }

    &[hide] {
      animation-name: drawOff;
    }
  }
}

.dropdownPopup {
  overflow: hidden;

  > div {
    overflow: auto;
  }
}

.inputs {
  border: none;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-radius: var(--border-radius);
  margin: 0;
  padding: 2em 1em 0.5em 1em;
  position: relative;
  gap: 8px;

  > legend {
    color: #5e5e5e;
    display: block;
    position: absolute;
    left: 0.3em;
    top: 0.2em;
    transform-origin: top left;
    transform: scale(0.9);
    margin: 0 var(--ctrl-radio-gap);
    padding: 0;
  }

  > label {
    flex: 1 1 calc(50% - 8px);
    position: relative;

    > span {
      color: #5e5e5e;
      display: block;
      position: absolute;
      padding: 0 0.2em;
      background: white;
      left: 0.3em;
      top: -0.5em;
      transform-origin: top left;
      transform: scale(0.9);
    }

    > input {
      padding: 0.5em;
      border-radius: 4px;
      box-shadow: none;
      border: 1px solid #5e5e5e;
    }
  }
}

.inputs + .inputs,
.inputs + wup-radio,
wup-radio + .inputs {
  margin-top: 10px;
  margin-bottom: 0;
}
